<div class="container">
  <div class="container mt-4">
    <h1>Vivero El Otoño</h1>

    <div class="header-image mb-4">
      <img src="assets/img_header.png" alt="Colección de plantas en el vivero El Otoño" class="header-img">
    </div>

  <div *ngIf="error" class="alert alert-danger">
    Ha ocurrido un error al cargar las plantas. Intenta nuevamente más tarde.
  </div>

  <div *ngIf="!plantas.length && !error" class="alert alert-info">
    Cargando plantas...
  </div>

  <!-- Tabla de plantas -->
  <div class="table-responsive" *ngIf="plantas.length">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre Común</th>
        <th>Tipo</th>
        <th>Clima</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let planta of plantas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ planta.nombre_comun }}</td>
        <td>{{ planta.tipo }}</td>
        <td>{{ planta.clima }}</td>
      </tr>
      </tbody>
    </table>
  </div>
    <p>Total de plantas de interior: {{ totalInterior }}</p>
    <p>Total de plantas de exterior: {{ totalExterior }}</p>

  <div class="footer">
    Contact us: +57 3102105253 - info&#64;viveroelotono.com - &#64;viveroelotono
  </div>
</div>
</div>
